.homeContent {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10rem;
    column-gap: 2rem;
    align-items: center;
}

@keyframes fadein {
    0%{
        transform: translateX(-200px);
        opacity: 0%;
        background-image: url(../assets/me.jpg);
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
        background-image: url(../assets/me.jpg);
    }
    
}

.homeImg {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

    animation-name: fadein;
    transition: 3s;

    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


.homeTitle {
    font-size: var(--big-font);
    margin-bottom: 0.25rem;
}

.homeSubtitle {
    position: relative;
    font-size: var(--h3-font);
}

.homeScroll {
    margin-top: 7rem;
    
}

.homeScrollArrow {
    color: #0000EE;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .homeContent {
        grid-template-columns: 1fr;
        padding-top: 3.5rem;
    }
    
    .homeImg {
        order: initial;
        justify-self: center;
        width: 200px;
        height: 200px;
    }
    

    .homeData {
        grid-column: 1/3;
    }

    .homeScroll {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .homeImg {
        width: 180px;
        height: 180px;
    }
}