

.projectBox {
    outline: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.projectTopBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.projectBottomBox {

}

.projectImg {
    border: solid black;
    width: 25%;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .projectTopBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
    .projectTitle {
        grid-area: 1 / 1 / 2/ 4;
    }

    .projectImg {
        width: 100%;
        height: 100%;
    }
}