

.projectBox {
    outline: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.projectTopBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.projectBottomBox {

}

.projectImg {
    border: solid black;
    width: 25%;
    height: 100%;
}

@media screen and (max-width: 350px) {

}